/* ================= GENERAL ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: #111;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ================= HEADER ================= */

.header {
    width: 100%;
    padding: 25px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    gap: 35px;
}

.navbar a {
    font-size: 15px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #021581;
}

.header-btn {
    padding: 12px 22px;
    background: #e63946;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;

    transition: 0.3s;
}

.header-btn:hover {
    background: #fff;
    color: #111;
}


/* ================= HERO ================= */

.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 120px 8%;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.60)
        ),
        url("images/CTA2.jpg");

    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 650px;
}

.small-heading,
.section-label {
    color: #e63946;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(50px, 7vw, 85px);
    line-height: 1.05;
    margin-bottom: 25px;
}

.hero-text {
    max-width: 520px;
    font-size: 18px;
    color: #ddd;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


/* ================= BUTTONS ================= */

.primary-btn,
.secondary-btn {
    display: inline-block;
    padding: 14px 25px;

    font-weight: bold;
    transition: 0.3s;
}

.primary-btn {
    background: #e63946;
    color: #fff;
}

.primary-btn:hover {
    background: #fff;
    color: #111;
}

.secondary-btn {
    border: 1px solid #fff;
}

.secondary-btn:hover {
    background: #fff;
    color: #111;
}


/* ================= ABOUT ================= */

.about {
    padding: 100px 8%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;

    align-items: center;

    background: #181818;
}

.about-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.about-content {
    max-width: 550px;
}

.about-content h2,
.section-heading h2,
.cta h2 {
    font-size: clamp(35px, 5vw, 55px);
    line-height: 1.1;
    margin-bottom: 25px;
}

.about-content p {
    color: #bbb;
    margin-bottom: 20px;
}


/* ================= MENU ================= */

.menu {
    padding: 100px 8%;
    background: #111;
    margin-bottom: 60px;
}

.section-heading {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 60px;
}

.section-heading > p:last-child {
    color: #aaa;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.food-card {
    background: #1c1c1c;
    overflow: none;
    height: 300px;

    transition: 0.3s;
}

.food-card:hover {
    transform: translateY(-8px);
}

.food-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.food-info {
    padding: 22px;
}

.food-info h3 {
    font-size: 21px;
    margin-bottom: 10px;
}

.food-info p {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
}

.food-info span {
    color: #e63946;
    font-weight: bold;
    font-size: 18px;
}


/* ================= FEATURES ================= */

.features {
    padding: 100px 8%;
    background: #181818;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-box {
    margin-top: 30px;
    text-align: between;
    padding: 35px;
    background: #111;
}

.feature-icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.feature-box h3 {
    margin-bottom: 12px;
}

.feature-box p {
    color: #aaa;
    font-size: 14px;
}


/* ================= CTA ================= */

.cta {
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 80px 8%;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url("images/CTA.jpg");

    background-size: cover;
    background-position: center;
}

.cta-content {
    max-width: 650px;
}

.cta p {
    color: #ddd;
    margin-bottom: 25px;
}


/* ================= FOOTER ================= */

footer {
    background: #0b0b0b;
    padding: 70px 8% 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 50px;
}

.footer-about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-about p,
.footer-column p {
    color: #888;
    font-size: 14px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.copyright {
    border-top: 1px solid #333;
    padding-top: 20px;
    text-align: center;
    color: #666;
    font-size: 13px;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {

    .navbar {
        gap: 15px;
    }

    .header-btn {
        display: none;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-image img {
        height: 400px;
    }

    .food-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px) {

    .header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 23px;
    }

    .navbar {
        display: none;
    }

    .hero {
        padding: 120px 5% 70px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .about,
    .menu,
    .features {
        padding: 70px 5%;
    }

    .food-container {
        grid-template-columns: 1fr;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

}